html {
  font-size: 18px;
  line-height: 1.4px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html, body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

body {
  font-family: Helvetica;
  width: 100%;
}

.site-container {
  max-width: 960px;
  margin: 0 auto;
  display: block;
  align-items: center;
  padding: 0 0;
  transition: width .5s ease-in-out;
}

.main-banner {
  display: block;
  background-image: url("./images/glasses-bg.png");
  border-style: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;
  padding-top: 1rem;
  overflow: hidden;
}

header {
  display: flex;
  background-color: cadetblue;
  font-size: 1rem;
  height: 3rem;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.logo, .logo-footer {
  display: inline-flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
}

.logo span {
  padding-left: 1rem;
}

nav a {
  padding: 1rem 2rem 1rem 0;
  font-size:1rem;
}

.menu {
  display: none;
}

.motto-box {
  display: flex;
  text-transform: uppercase;
  margin-top: 10rem;
  margin-right: -2rem;
  justify-content: flex-end;
}

.motto-box p {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  left: 2rem;
  background-color: white;
}


.assets-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

.assets-section figure {
  margin: 3rem 3rem;
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#exams img {
  max-width: 3.5rem;
}
#fittings img {
  max-width: 5rem;
}
#delivery img {
  max-width: 5rem;
}

figcaption {
  flex-wrap: wrap;
  text-align: center;
}


.info-section {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  font-family: Helvetica, sans-serif;
}

.info-box {
  width: 35%;
  padding-right: 10%;
}

.info {
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  color: white;
  text-transform: uppercase;
  max-width: 10rem;
}

p {
  padding-top: 1rem;
}


footer {
  display: flex;
  background-color: azure;
  margin-top: 5rem;
  padding: 4rem;
}

.logo-footer img {
  height: 1.5rem;

}

.logo-footer span {
  padding-left: 1rem;
}



@media only screen and (max-width: 1024px) {

  .menu {
    display: none;
  }

  .site-container {
    width: 100%;
  }

  .main-banner {
    padding-top: 0;
    background-position: 20%;
  }

  .motto-box {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .motto-box p {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }

  .info-section {
    justify-content: center;
  }


}

@media only screen and (min-width: 521px) and (max-width: 679px) {

  .category {
    display:none;
  }

  .menu {
    display: inline-block;
  }

  .info-box {
    justify-content: space-around;
    padding-left: 3rem;

  }

}

@media only screen and (max-width: 520px) {

  .site-container {
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .info-box {
    justify-content: center;
  }

  .main-banner {
    width: 100%;
    padding-top: 0;
    background-position: 20%;
    padding-right:0;
  }

  header {
    width: 100%;
    padding:0;
    margin: 0;
  }

  .category {
    display:none;
  }

  .menu {
    display: inline-block;
  }

  .company-name {
    display: none;
  }

  .hide {
    display: none;
  }

  .main-banner {
    height: 17rem;
  }

  .motto-box {
    padding: 0;
    margin-top: 9rem;
    margin-right:0;
    width: 100%;
  }

  .motto-box p {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    position: initial;
  }


  .assets-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    margin-top:3.77rem;
    margin-bottom: 2.27rem;
  }

  .assets-section figure {
    margin: 0 0 1.5rem 0;
    max-width: 5rem;
    height: auto;
    font-size: 0.77rem;
  }

  .assets-section figcaption {
    padding-top: 1rem;
  }

  .info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    width: 100%
    font-family: Helvetica, sans-serif;
    font-size: 0.77rem;
  }

  .info-box {
    width: inherit;
    padding: auto;
    text-align: center;
  }

  .info-box p {
    text-align: center;
    padding: auto;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  .info {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: auto;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    padding: 4rem 0;
  }

  .logo-footer img {
    padding: auto;
    margin: auto;
  }

  nav a  {
    text-align: center;
  }

}
